'scopeName': 'source.elk'
'name': 'Elk'
'comment': 'The Elk markup laguage'
'fileTypes': [ 'elk' ]

'patterns' : [
    {
        'match': '#[a-zA-Z0-9]+'
        'name': 'keyword.control'
      'comment': 'ID'
    }
    {
      'match': '[.][a-zA-Z0-9]+'
      'name': 'entity.other.attribute-name'
      'comment': 'Class'
    }
    {
      'comment': 'Tag'
      'match': '[a-zA-Z0-9]+'
      'name': 'variable.parameter'
    }
    {
      'comment': 'String'
      'match': '"((?:\\.|.)*?)"'
      'name': 'string.quoted'
    }
]
